In [61]:
import sys
import pandas as pd
import sklearn
import keras

print ('Python: {}'.format(sys.version))
print ('Pandas: {}'.format(pd.__version__))
print ('Sklearn: {}'.format(sklearn.__version__))
print ('Keras: {}'.format(keras.__version__))

Python: 3.6.7 (default, Oct 22 2018, 11:32:17)
[GCC 8.2.0]
Pandas: 0.24.2
Sklearn: 0.21.1
Keras: 2.2.4

In [62]:
from google.colab import files
uploaded = files.upload()

import io



data = pd.read_csv(io.BytesIO(uploaded['Autism-Child-Data.csv']))

Saving Autism-Child-Data.csv to Autism-Child-Data (1).csv

In [63]:
data.head()

   id  A1_Score  A2_Score  A3_Score  ...  result    age_desc  relation  Class/ASD
0   1         1         1         0  ...       5  4-11 years    Parent         NO
1   2         1         1         0  ...       5  4-11 years    Parent         NO
2   3         1         1         0  ...       5  4-11 years         ?         NO
3   4         0         1         0  ...       4  4-11 years         ?         NO
4   5         1         1         1  ...      10  4-11 years    Parent        YES

[5 rows x 22 columns]

In [66]:

data = data.drop(['id'],axis=1)
print('Shape of DataFrame: {}'.format(data.shape))
print(data.loc[0])

Shape of DataFrame: (292, 21)
A1_Score                    1
A2_Score                    1
A3_Score                    0
A4_Score                    0
A5_Score                    1
A6_Score                    1
A7_Score                    0
A8_Score                    1
A9_Score                    0
A10_Score                   0
age                         6
gender                      m
ethnicity              Others
jundice                    no
austim                     no
contry_of_res          Jordan
used_app_before            no
result                      5
age_desc           4-11 years
relation               Parent
Class/ASD                  NO
Name: 0, dtype: object

In [67]:
# print out multiple patients at the same time
data.loc[:10]

    A1_Score  A2_Score  A3_Score  ...    age_desc  relation  Class/ASD
0          1         1         0  ...  4-11 years    Parent         NO
1          1         1         0  ...  4-11 years    Parent         NO
2          1         1         0  ...  4-11 years         ?         NO
3          0         1         0  ...  4-11 years         ?         NO
4          1         1         1  ...  4-11 years    Parent        YES
5          0         0         1  ...  4-11 years         ?         NO
6          1         0         1  ...  4-11 years    Parent        YES
7          1         1         1  ...  4-11 years    Parent        YES
8          1         1         1  ...  4-11 years    Parent        YES
9          0         0         1  ...  4-11 years         ?         NO
10         1         0         0  ...  4-11 years      Self        YES

[11 rows x 21 columns]

In [68]:
data.describe()

         A1_Score    A2_Score    A3_Score  ...    A9_Score   A10_Score      result
count  292.000000  292.000000  292.000000  ...  292.000000  292.000000  292.000000
mean     0.633562    0.534247    0.743151  ...    0.493151    0.726027    6.239726
std      0.482658    0.499682    0.437646  ...    0.500811    0.446761    2.284882
min      0.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000  ...    0.000000    0.000000    5.000000
50%      1.000000    1.000000    1.000000  ...    0.000000    1.000000    6.000000
75%      1.000000    1.000000    1.000000  ...    1.000000    1.000000    8.000000
max      1.000000    1.000000    1.000000  ...    1.000000    1.000000   10.000000

[8 rows x 11 columns]

In [0]:
# drop unwanted columns
data = data.drop(['result', 'age_desc'], axis=1)

In [70]:
data.loc[:10]

    A1_Score  A2_Score  A3_Score  ...  used_app_before  relation  Class/ASD
0          1         1         0  ...               no    Parent         NO
1          1         1         0  ...               no    Parent         NO
2          1         1         0  ...              yes         ?         NO
3          0         1         0  ...               no         ?         NO
4          1         1         1  ...               no    Parent        YES
5          0         0         1  ...               no         ?         NO
6          1         0         1  ...               no    Parent        YES
7          1         1         1  ...               no    Parent        YES
8          1         1         1  ...               no    Parent        YES
9          0         0         1  ...               no         ?         NO
10         1         0         0  ...               no      Self        YES

[11 rows x 19 columns]

In [0]:
# create X and Y datasets for training
x = data.drop(['Class/ASD'], 1)
y = data['Class/ASD']

In [72]:
x.loc[:10]

    A1_Score  A2_Score  A3_Score  ...   contry_of_res  used_app_before  relation
0          1         1         0  ...          Jordan               no    Parent
1          1         1         0  ...          Jordan               no    Parent
2          1         1         0  ...          Jordan              yes         ?
3          0         1         0  ...          Jordan               no         ?
4          1         1         1  ...   United States               no    Parent
5          0         0         1  ...           Egypt               no         ?
6          1         0         1  ...  United Kingdom               no    Parent
7          1         1         1  ...         Bahrain               no    Parent
8          1         1         1  ...         Bahrain               no    Parent
9          0         0         1  ...         Austria               no         ?
10         1         0         0  ...  United Kingdom               no      Self

[11 rows x 18 columns]

In [0]:
# convert the data to categorical values - one-hot-encoded vectors
X = pd.get_dummies(x)

In [74]:
X.loc[:10]

    A1_Score  A2_Score  ...  relation_Self  relation_self
0          1         1  ...              0              0
1          1         1  ...              0              0
2          1         1  ...              0              0
3          0         1  ...              0              0
4          1         1  ...              0              0
5          0         0  ...              0              0
6          1         0  ...              0              0
7          1         1  ...              0              0
8          1         1  ...              0              0
9          0         0  ...              0              0
10         1         0  ...              1              0

[11 rows x 96 columns]

In [75]:
# print the new categorical column labels
X.columns.values

array(['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score',
       'A6_Score', 'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score',
       'age_10', 'age_11', 'age_4', 'age_5', 'age_6', 'age_7', 'age_8',
       'age_9', 'age_?', 'gender_f', 'gender_m', 'ethnicity_?',
       'ethnicity_Asian', 'ethnicity_Black', 'ethnicity_Hispanic',
       'ethnicity_Latino', 'ethnicity_Middle Eastern ',
       'ethnicity_Others', 'ethnicity_Pasifika', 'ethnicity_South Asian',
       'ethnicity_Turkish', 'ethnicity_White-European', 'jundice_no',
       'jundice_yes', 'austim_no', 'austim_yes',
       'contry_of_res_Afghanistan', 'contry_of_res_Argentina',
       'contry_of_res_Armenia', 'contry_of_res_Australia',
       'contry_of_res_Austria', 'contry_of_res_Bahrain',
       'contry_of_res_Bangladesh', 'contry_of_res_Bhutan',
       'contry_of_res_Brazil', 'contry_of_res_Bulgaria',
       'contry_of_res_Canada', 'contry_of_res_China',
       'contry_of_res_Costa Rica', 'contry_of_res_Egypt',
       'contry_of_res_Europe', 'contry_of_res_Georgia',
       'contry_of_res_Germany', 'contry_of_res_Ghana',
       'contry_of_res_India', 'contry_of_res_Iraq',
       'contry_of_res_Ireland', 'contry_of_res_Isle of Man',
       'contry_of_res_Italy', 'contry_of_res_Japan',
       'contry_of_res_Jordan', 'contry_of_res_Kuwait',
       'contry_of_res_Latvia', 'contry_of_res_Lebanon',
       'contry_of_res_Libya', 'contry_of_res_Malaysia',
       'contry_of_res_Malta', 'contry_of_res_Mexico',
       'contry_of_res_Nepal', 'contry_of_res_Netherlands',
       'contry_of_res_New Zealand', 'contry_of_res_Nigeria',
       'contry_of_res_Oman', 'contry_of_res_Pakistan',
       'contry_of_res_Philippines', 'contry_of_res_Qatar',
       'contry_of_res_Romania', 'contry_of_res_Russia',
       'contry_of_res_Saudi Arabia', 'contry_of_res_South Africa',
       'contry_of_res_South Korea', 'contry_of_res_Sweden',
       'contry_of_res_Syria', 'contry_of_res_Turkey',
       'contry_of_res_U.S. Outlying Islands',
       'contry_of_res_United Arab Emirates',
       'contry_of_res_United Kingdom', 'contry_of_res_United States',
       'used_app_before_no', 'used_app_before_yes', 'relation_?',
       'relation_Health care professional', 'relation_Parent',
       'relation_Relative', 'relation_Self', 'relation_self'],
      dtype=object)

In [76]:
# print an example patient from the categorical data
X.loc[1]

A1_Score                               1
A2_Score                               1
A3_Score                               0
A4_Score                               0
A5_Score                               1
A6_Score                               1
A7_Score                               0
A8_Score                               1
A9_Score                               0
A10_Score                              0
age_10                                 0
age_11                                 0
age_4                                  0
age_5                                  0
age_6                                  1
age_7                                  0
age_8                                  0
age_9                                  0
age_?                                  0
gender_f                               0
gender_m                               1
ethnicity_?                            0
ethnicity_Asian                        0
ethnicity_Black                        0
ethnicity_Hispanic                     0
ethnicity_Latino                       0
ethnicity_Middle Eastern               1
ethnicity_Others                       0
ethnicity_Pasifika                     0
ethnicity_South Asian                  0
                                      ..
contry_of_res_Malta                    0
contry_of_res_Mexico                   0
contry_of_res_Nepal                    0
contry_of_res_Netherlands              0
contry_of_res_New Zealand              0
contry_of_res_Nigeria                  0
contry_of_res_Oman                     0
contry_of_res_Pakistan                 0
contry_of_res_Philippines              0
contry_of_res_Qatar                    0
contry_of_res_Romania                  0
contry_of_res_Russia                   0
contry_of_res_Saudi Arabia             0
contry_of_res_South Africa             0
contry_of_res_South Korea              0
contry_of_res_Sweden                   0
contry_of_res_Syria                    0
contry_of_res_Turkey                   0
contry_of_res_U.S. Outlying Islands    0
contry_of_res_United Arab Emirates     0
contry_of_res_United Kingdom           0
contry_of_res_United States            0
used_app_before_no                     1
used_app_before_yes                    0
relation_?                             0
relation_Health care professional      0
relation_Parent                        1
relation_Relative                      0
relation_Self                          0
relation_self                          0
Name: 1, Length: 96, dtype: int64

In [0]:
# convert the class data to categorical values - one-shot-encoded vectors
Y = pd.get_dummies(y)

In [78]:
Y.loc[:10]

    NO  YES
0    1    0
1    1    0
2    1    0
3    1    0
4    0    1
5    1    0
6    0    1
7    0    1
8    0    1
9    1    0
10   0    1

In [79]:
Y.columns.values

array(['NO', 'YES'], dtype=object)

In [80]:
print('Shape of DataFrame: {}'.format(X.shape))

Shape of DataFrame: (292, 96)

In [81]:
 #  Split the Dataset into Training and Testing Datasets

from sklearn import model_selection
# split the X and Y data into training and testing datasets
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size = 0.2)

print (X_train.shape)
print (X_test.shape)
print (Y_train.shape)
print (Y_test.shape)

(233, 96)
(59, 96)
(233, 2)
(59, 2)

In [90]:
#  Building the Network with Keras

from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.optimizers import Adam

# define a function to build the keras model
def create_model():
    # create model
    model = Sequential()
    model.add(Dense(8, input_dim=96, kernel_initializer='normal', activation='relu'))
    model.add(Dense(4, kernel_initializer='normal', activation='relu'))
    model.add(Dense(2, activation='sigmoid'))
    model.add(Dropout(0.25))
    
    # compile model
    adam = Adam(lr=0.001)
    model.compile(loss='categorical_crossentropy', optimizer=adam, metrics=['accuracy'])
    return model

model = create_model()

print(model.summary())

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_22 (Dense)             (None, 8)                 776
_________________________________________________________________
dense_23 (Dense)             (None, 4)                 36
_________________________________________________________________
dense_24 (Dense)             (None, 2)                 10
_________________________________________________________________
dropout_2 (Dropout)          (None, 2)                 0
=================================================================
Total params: 822
Trainable params: 822
Non-trainable params: 0
_________________________________________________________________
None

In [91]:
# Train the model

# fit the model to the training data
model.fit(X_train, Y_train, epochs=50, batch_size=10, verbose = 1)

Epoch 1/50
233/233 [==============================] - 0s 2ms/step - loss: nan - acc: 0.5107
Epoch 2/50
233/233 [==============================] - 0s 138us/step - loss: nan - acc: 0.5193
Epoch 3/50
233/233 [==============================] - 0s 139us/step - loss: nan - acc: 0.5193
Epoch 4/50
233/233 [==============================] - 0s 139us/step - loss: nan - acc: 0.5193
Epoch 5/50
233/233 [==============================] - 0s 130us/step - loss: nan - acc: 0.5193
Epoch 6/50
233/233 [==============================] - 0s 132us/step - loss: nan - acc: 0.5193
Epoch 7/50
233/233 [==============================] - 0s 154us/step - loss: nan - acc: 0.5193
Epoch 8/50
233/233 [==============================] - 0s 147us/step - loss: nan - acc: 0.5193
Epoch 9/50
233/233 [==============================] - 0s 145us/step - loss: nan - acc: 0.5193
Epoch 10/50
233/233 [==============================] - 0s 145us/step - loss: nan - acc: 0.5193
Epoch 11/50
233/233 [==============================] - 0s 143us/step - loss: nan - acc: 0.5193
Epoch 12/50
233/233 [==============================] - 0s 138us/step - loss: nan - acc: 0.5193
Epoch 13/50
233/233 [==============================] - 0s 139us/step - loss: nan - acc: 0.5193
Epoch 14/50
233/233 [==============================] - 0s 139us/step - loss: nan - acc: 0.5193
Epoch 15/50
233/233 [==============================] - 0s 148us/step - loss: nan - acc: 0.5193
Epoch 16/50
233/233 [==============================] - 0s 138us/step - loss: nan - acc: 0.5193
Epoch 17/50
233/233 [==============================] - 0s 137us/step - loss: nan - acc: 0.5193
Epoch 18/50
233/233 [==============================] - 0s 136us/step - loss: nan - acc: 0.5193
Epoch 19/50
233/233 [==============================] - 0s 138us/step - loss: nan - acc: 0.5193
Epoch 20/50
233/233 [==============================] - 0s 143us/step - loss: nan - acc: 0.5193
Epoch 21/50
233/233 [==============================] - 0s 139us/step - loss: nan - acc: 0.5193
Epoch 22/50
233/233 [==============================] - 0s 135us/step - loss: nan - acc: 0.5193
Epoch 23/50
233/233 [==============================] - 0s 141us/step - loss: nan - acc: 0.5193
Epoch 24/50
233/233 [==============================] - 0s 143us/step - loss: nan - acc: 0.5193
Epoch 25/50
233/233 [==============================] - 0s 142us/step - loss: nan - acc: 0.5193
Epoch 26/50
233/233 [==============================] - 0s 155us/step - loss: nan - acc: 0.5193
Epoch 27/50
233/233 [==============================] - 0s 156us/step - loss: nan - acc: 0.5193
Epoch 28/50
233/233 [==============================] - 0s 152us/step - loss: nan - acc: 0.5193
Epoch 29/50
233/233 [==============================] - 0s 144us/step - loss: nan - acc: 0.5193
Epoch 30/50
233/233 [==============================] - 0s 133us/step - loss: nan - acc: 0.5193
Epoch 31/50
233/233 [==============================] - 0s 147us/step - loss: nan - acc: 0.5193
Epoch 32/50
233/233 [==============================] - 0s 147us/step - loss: nan - acc: 0.5193
Epoch 33/50
233/233 [==============================] - 0s 144us/step - loss: nan - acc: 0.5193
Epoch 34/50
233/233 [==============================] - 0s 143us/step - loss: nan - acc: 0.5193
Epoch 35/50
233/233 [==============================] - 0s 135us/step - loss: nan - acc: 0.5193
Epoch 36/50
233/233 [==============================] - 0s 140us/step - loss: nan - acc: 0.5193
Epoch 37/50
233/233 [==============================] - 0s 143us/step - loss: nan - acc: 0.5193
Epoch 38/50
233/233 [==============================] - 0s 140us/step - loss: nan - acc: 0.5193
Epoch 39/50
233/233 [==============================] - 0s 137us/step - loss: nan - acc: 0.5193
Epoch 40/50
233/233 [==============================] - 0s 137us/step - loss: nan - acc: 0.5193
Epoch 41/50
233/233 [==============================] - 0s 139us/step - loss: nan - acc: 0.5193
Epoch 42/50
233/233 [==============================] - 0s 165us/step - loss: nan - acc: 0.5193
Epoch 43/50
233/233 [==============================] - 0s 136us/step - loss: nan - acc: 0.5193
Epoch 44/50
233/233 [==============================] - 0s 136us/step - loss: nan - acc: 0.5193
Epoch 45/50
233/233 [==============================] - 0s 133us/step - loss: nan - acc: 0.5193
Epoch 46/50
233/233 [==============================] - 0s 131us/step - loss: nan - acc: 0.5193
Epoch 47/50
233/233 [==============================] - 0s 136us/step - loss: nan - acc: 0.5193
Epoch 48/50
233/233 [==============================] - 0s 132us/step - loss: nan - acc: 0.5193
Epoch 49/50
233/233 [==============================] - 0s 141us/step - loss: nan - acc: 0.5193
Epoch 50/50
233/233 [==============================] - 0s 143us/step - loss: nan - acc: 0.5193

In [92]:
# Testing the model data

# generate classification report using predictions for categorical model
from sklearn.metrics import classification_report, accuracy_score

predictions = model.predict_classes(X_test)
predictions

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [95]:
print('Results for Categorical Model')
print(accuracy_score(Y_test[['YES']], predictions))
print(classification_report(Y_test[['YES']], predictions))

Results for Categorical Model
0.5084745762711864
              precision    recall  f1-score   support

           0       0.51      1.00      0.67        30
           1       0.00      0.00      0.00        29

    accuracy                           0.51        59
   macro avg       0.25      0.50      0.34        59
weighted avg       0.26      0.51      0.34        59

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [0]:
# Now that our model has been trained, we need to test its performance on the testing dataset. 
# The model has never seen this information before; as a result, the testing dataset allows us to determine whether or not the model will be able to generalize to information that wasn't used during its training phase.
# We will use some of the metrics provided by scikit-learn for this purpose!